*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
button , a {
    cursor: pointer;
}


body {
    width: 100%;
    background-color: white;
}
#logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: #397459;
    text-align: center;
    padding-top: 50px;
    text-shadow: 2px 2px 5px rgb(165, 170, 169);
}

.lo {
    height: 400px;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: image 2s infinite; */
}


/* @keyframes image {
    0%{
        transform: rotateX(60deg) ;
    }
} */
#butt {
    height: 50px;

  
    padding-left: 20px;
    padding-right: 20px;

        border: 1px solid black;
        /* padding: 25px 30px; */
        /* background-color:black; */
             background-color: white;
        text-align: center;
        margin: 0 auto;
         border-radius: 5px;
        color: black;
        text-decoration: none;
        font-weight: bolder;
        font-size: 1rem;
         display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
}

.bu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}



@media (max-width: 700px) {
    .aqwxc {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    
    
}
    
}
@media (min-width: 700px) {
    .aqwxc {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 100px;
    
    
}
}