*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
@media (min-width:10px) and (max-width:700px) {
header {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    color: white;
    font-size: 1.2rem;
}
#logo1 {
    color: white;
    font-size: 1.2rem;
    
    
}
#lo {
    animation: image 2s infinite;
}

@keyframes image {
    0%{
        transform: rotateY(360deg) ;
    }
}
.qui {
    width: 100%;
   
    background-color: white;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 50px;
}
.qui1 {
    width: 170px;
    height: 170px;
    background-color: rgb(5, 5, 78);
    border-radius: 10px;
    box-shadow: 2px 3px 10px 1px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    padding: 10px;
    overflow: hidden;
    border: none;
}
.question {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    text-align: center;
    flex-wrap: wrap;
}
#quizz {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}
}