<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/acceuil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>

<body>
    <div class="aqwxc">

    </div>
    <div class="aqwxcsss">

   
    <div class="aqwxcs">
        <div class="loj">
            <!-- <h1 id="logo">KINSION</h1> -->
            <img src="{{ url_for('static', filename='IMAGE/logo.png')}}" class="logsh"  alt="">
        </div>
        <!-- <div class="tes">
            <p>Tout bouche tu fais on va voir ca ici , y'a pas quelqu'un qui est fort que quelqu'un ici !</p>
        </div> -->
        <div class="lo">
            <img src="{{ url_for('static', filename='IMAGE/ine.png')}}" style="filter: invert(37%) sepia(74%) saturate(4930%) hue-rotate(137deg) brightness(94%) contrast(101%);" alt="">
        </div>
        <div class="bu">
            <a href="/index" id="butt">
                Top c'est parti , clique ici !
                <img src="{{ url_for('static', filename='IMAGE/right.png')}}" height="30px" alt="">
            </a>
        </div>
        <!-- <div class="basre">
            <img src="{{ url_for('static', filename='IMAGE/bas.png')}}"  height="100%"  alt="">
        </div> -->
    </div>
     </div>
</body>

</html>