
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quizz</title>
    <link rel="shortcut icon" href="static/IMAGES/blaye.jpeg">    
    <link rel="stylesheet" href="static/CSS/quizz.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <header>
    
        <div class="dex2">
            <div class="mp" id="vjk1">
                <img src="{{ url_for('static', filename='IMAGES/20945985.jpg')}}"  height="80%" width="100%" alt="" >
                <a href="/">
                    <img src="{{ url_for('static', filename='IMAGES/home-removebg-preview.png')}}" style="filter: invert(15%) sepia(59%) saturate(7268%) hue-rotate(272deg) brightness(63%) contrast(111%);" height="20px" width="20px" alt="">
                </a>
            </div>
            <div class="mp" id="vjk">
                
                <div class="hea2" >
                    <a href="/">
                        <strong><p style="color:  rgba(162, 117, 204, 0.555);"><span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 3rem;color: rgb(212, 5, 5);">VR</span>rigoud</p></strong>
                    </a>
                </div>
                <div class="hea2">
                    <h2 style="color: rgb(5, 5, 78);font-size: 1.3rem;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">AJout de quizz !</h2>
                </div>
                <form action="/add" method="POST" class="formulaire" >
                    
                    <label >Entrer la question</label>
                    <input required type="text" name="question" id="">
                    <label >Entrer la premiere proposition</label>
                    <input  required type="text" name="premier" id="">
                    <label >Entrer la deuxieme proposition</label>
                    <input required type="text" name="deux" id="">
                    <label >Entrer la troisieme proposition</label>
                    <input  required type="text" name="trois" id="">
                    <label >Entrer la quatrieme proposition</label>
                    <input required type="text" name="quatre" id="">
                    <label >Entrer la bonne reponse</label>
                    <input  required type="text" name="reponse" id="">
                    
                   
                    <button type="submit" >Ajouter le quizz maintenant !</button>
                </form>
            </div>
        </div>
    </header>
</body>
</html>




